{% extends '/templates/layout.twig' %}

{% block body %}
    {% for article in articles %}

    <h1 class="mt-3"> {{ article.title|escape }} </h1>
        {% if auth == true %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{{ article.slug }}/edit">
                    <button class="btn btn-primary me-md-2 float-right" type="button">Редактировать статью</button>
                </a>
            </div>
        {% endif %}

    <hr>

    <p class="lead">
        {{ article.description|escape }}
    </p>

    <p>
        {{ article.body|escape }}
    </p>

    <p><em>Опубликовано {{ article.created_at|escape }}</em></p>

    <hr>

    <h2 class="mt-3">Комментарии</h2>
        {% if auth == true %}
            <form action="/article/{{ article.slug }}" method="post">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="body"></textarea>
                </div>
                <input name="createComment" type="submit" class="btn btn-primary" value="Отправить комментарий">
            </form>
        {% endif %}
        {% if auth != true %}
            <div class="alert alert-primary mt-3" role="alert">
                <a href="/login">Войдите</a>, чтобы оставить комментарий
            </div>
        {% endif %}
        {% for comment in article.comments %}
            <div class="card mb-4 mt-4">
                <div class="card-header">
                    {{ comment.owner.name }} (<em>{{ comment.owner.email }}</em>)
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ comment.comment }}</p>
                        <small class="text-muted" style="font-size: 16px">
                            Опубликовано {{ comment.created_at }}
                        </small>
                    </blockquote>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}